.leftside {
    background: #333;
    min-height: 723px;
    position: fixed;
    top: 50px;
    width: 220px;
    height: 100%;
    z-index: 99999;
    left: 0;
}

.leftside a {
    font: 14px "Source Sans Pro", sans-serif;
    color: #F6F6F6
}

.sidebar-menu li.active {
    background-color: #444444;
}

.sidebar-menu li.active a {
    color: #72afd2;
}


@media only screen and (max-width: 992px) {
    section.leftside {
      left: -220px;
      animation: slideLeft .2s linear;
    }  
}

@keyframes slideLeft {
    0% {
        left: 0px
    }
    100% {
        left: -220px;
    }
}
